<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>world1</key>
	<dict>
		<key>playable</key>
		<true/>
		<key>levels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>playable</key>
				<true/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level2</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level3</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level4</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level5</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level6</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level7</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level8</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level9</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level10</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level11</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level12</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>starCount</key>
		<integer>0</integer>
	</dict>
	<key>world2</key>
	<dict>
		<key>playable</key>
		<false/>
		<key>levels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level2</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level3</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level4</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level5</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level6</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level7</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level8</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level9</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level10</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level11</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level12</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>starCount</key>
		<integer>0</integer>
	</dict>
	<key>world3</key>
	<dict>
		<key>playable</key>
		<false/>
		<key>levels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level2</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level3</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level4</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level5</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level6</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level7</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level8</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level9</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level10</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level11</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
			<key>level12</key>
			<dict>
				<key>playable</key>
				<false/>
				<key>stations</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>highScore</key>
				<integer>0</integer>
				<key>maxScore</key>
				<integer>200</integer>
				<key>starCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>starCount</key>
		<integer>0</integer>
	</dict>
	<key>soundFX</key>
	<true/>
	<key>music</key>
	<true/>
</dict>
</plist>
